*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
.menubar {
    background: #101446;
}
img{
    max-width: 100%;
}
.menubar img {
    width: 100px;
    height: auto;
    padding-top: 10px;
    /* text-align: center; */
    margin: auto;
    display: block;
}
.menu {
    /* margin-right: 0px; */
    float: right;
}
.menu ul {
    list-style: none;
}
.menu ul li {
    display: inline-block;
}
.menu ul li a {
    padding: 15px;
    display: inline-block;
    line-height: 28px;
    color: #fff;
    text-decoration: none;
    /* text-align: right; */
}
.landing {
    background-image: url('./img/intro-bg.jpg');
    padding: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.landing .desc {
    width: 850px;
    margin: auto;
}
.ourteam{
    background: #BAC1F3;
}

.aboutus{
    background: #C2D4EA;
}
.aboutus ul {
    list-style: none;
    line-height: 30px;
}
.contactus{
    background: #F7F7F7;
}
.footerarea{
    background: #0062D3;
}

.anothertext {
    font-weight: 600;
}